nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: rgb(61, 61, 61);
    color: white;
    height: 5rem;
  }
  
  .navLogo {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 0rem;
    width: 20rem;
  }
  
  .logoContainer {
  
  }
  
  .logoImg {
    width: 100%;
    height: auto;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 5px;
  }
  
  
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  .navLink {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    padding: 1.1rem;
    margin-left: 4rem;
    cursor: pointer;
  }
  
  .cartIcon {
    /* prevents cartQty circle from wrapping to next row */
    min-width: 60px;
  }
  
  .navLink:hover {
    background-color: black;
    border-radius: 10px;
  }
  
  
  .cartQty {
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 12px;
    vertical-align: top;
    margin-left: -15px;
    background: rgb(106, 190, 247);
  }
  
  .cartQty span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 4px;
    margin-right: 4px;
  }

  @media only screen and (max-width: 768px) {
    .nav-links {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: rgb(61, 61, 61);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0,0,0,0.05);
    }
  
    .nav-links.active {
      left: 0;
    }
  
    .navLink {
      margin: 2.5rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
  }