

.shopItemsDiv {
    
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.shopItemCardDiv {
    
    padding: 1rem;
    text-align: center;
   
}

.itemDiv {
    padding: 2rem 2rem 5.5rem  2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.itemThumbnail {
    border-radius: 10px;
}

button {
    margin: 0.5rem;
    padding: 0.2rem;
}

.addToCartBtn {
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}

.addToCartMsg {
    color: #04AA6D;
    font-size: 0.875rem;
    font-weight: bold;
    font-style: italic;
}

.backBtn {
    background:none;
    border:none;
    color: #04AA6D;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
}

