.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(61, 61, 61);
  color: white;

}

.nav-links {
  width: 50%;
  height:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navLink {
  color: white;
  text-decoration: none;

  padding: 20px;


}

.navLink:hover {
  background-color: black;
  border-radius: 10px;
}


.cartQty {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  border: 2px solid;
  font-size: 12px;
  vertical-align: top;
  margin-left: -15px;
  background: rgb(106, 190, 247);
}

.cartQty span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 4px;
  margin-right: 4px;
}